body {
    margin: 0;
    padding: 0;
    background-color: blue;
}


#container {
    background-color: aqua;
    width: 740px;
    height: 660px;
    margin: 0px auto;

}

#header {
    position: relative;
    width: 680px;
    height: 99px;
    margin: 0 auto;
    left: 5px;
    background-image: url("header.png");

}

#bar {
    position: relative;
    width: 680px;
    height: 57px;
    margin: 0px auto;
    left: 5px;
    background-image: url("bar.png");
}

#headerName {
    position: relative;
    top:25px;
    left:30px;
    margin: 0;
    font-size: 35px;
    font-family: Georgia;


}

nav ul{
    margin: 0;

}

nav li {
    list-style: none;
    float: left;
    width: 110px;
    padding-top: 20px;
    padding-left: 10px;

}

nav li a {
    text-decoration: none;
    color: black;
    width: 50px;
    font-family:sans-serif;

}

#articleTitle {
    position: relative;
    left:15px;
    padding-left: 50px;
    padding-top: 0px;
    margin: -5px;
    font-size: 16px;
    font-family:Verdana;
    color: #24416c;

}

#content {
    position: relative;
    left:15px;
    top:-10px;
    padding-left: 50px;
    padding-top: 0px;
    margin: -5px;
    font-family: Arial;
    font-size:13px;
    line-height: 25px;
}

