.searchForm {
    margin-top :4%;
}
.stockHeader {
    text-align: center;
}
.well {
    background-color: white;
}
.symbolLabel{
    color:red;
}
input[type="text"] {
    box-sizing: border-box;
}
body {
    background-color: #1B5173 !important;
}

@media (max-width: 968px) {

    [class*="col-"]{
        margin-bottom: 5px;
    }

}

.row {
    margin-top:5px;
}
.icon-a {
    color: #AAA;
}
#starElement {
    color: #AAA;
}
.starClass {

    background-color:#FFFF00;

}
.undostarClass {

    background-color: white;

}


@media (max-width: 768px) {
    .ScreenHide{
        display: none !important;
    }
}

@media (min-width: 280px) and (max-width: 400px) {
    .btn-responsive {
        padding:0px 0px;
        font-size:50%;
        line-height: 1.2;
    }
}
/*
@media (max-width: 650px) {
    .btn-responsive1,.btn-responsive2 {
        padding:6%;
        button-size: 80%;
        line-height: 1;
    }
}*/

@media (max-width: 650px) {
    .refershCheckbox {
        width:80%;
        height: 80%;

    }
}
@media (min-width: 280px) and (max-width: 400px) {
    .nav > li > a {
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
    }
}
@media (max-width: 280px)  {
    .nav > li > a {
        padding-top: 10px;
        padding-right: 2px;
        padding-bottom: 10px;
        padding-left: 2px;
    }
}


.btn-disable
{
    cursor: default;
    pointer-events: none;

    /*Button disabled - CSS color class*/

    background-color: #D4D4D4;

}
/*@media (max-width: 450px) {
    .changeFavourite{
        display: none;
        visibility: hidden;
    }
}
*/


/*@media only screen and (max-width: 650px){
    #chartData { width: 80%; }
}*/
strong {
    font-weight: bold;
}

/*
.innerPanelChart {
    position: relative;
    padding-bottom: 40%;
}

.chart-inner {
    position: absolute;
    width: 100%; height: 100%;
}*/

#chartData {
    width:85% !important ;
}

/*
    @media (max-width: 450px) {
        .btn-responsive{
            padding:2px 4px;
            font-size:100%;
            line-height: 1.2;
        }
    }


    @media (max-width: 768px) {
        .btn-responsive {
            padding:2px 4px;
            font-size:80%;
            line-height: 1;
        }
    }

    @media (min-width: 769px) and (max-width: 992px) {
        .btn-responsive {
            padding:4px 9px;
            font-size:90%;
            line-height: 1.2;
        }
    }
    @media (max-width: 450px) {
        .toggle {
            padding:2px 4px;
            width:50% !important;
            height: 50% !important;

            line-height: 1.2;
        }
    }*/
/* @media (min-width: 1000px) {
     #menuBar-2 {
        .col-md-4
        .col-md-offset-5

     }
 }
 @media (max-width: 1000px) {
     #menuBar-2 {
     .col-md-5
     .col-md-offset-4
     .col-sm-offset-2
     .col-sm-6
     .col-xs-7
     }
 }*/


@media (max-width: 350px) {
    #refereshNowButton #refershButton #rightPanel-navigation {
        padding-top: 6px;
        padding-right: 8px;
        padding-bottom: 6px;
        padding-left: 8px;
    }
}
#nextButtton, #refButtonWrapper {
    padding-right: 0%;
    padding-left:  0%;
    padding-bottom: 0%;
    padding-top: 0%;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;

}
#table-wrapper {
    position:relative;
}
#table-scroll {

    overflow:auto;

}
#table-wrapper table {
    width:100%;

}

#table-wrapper table thead th .text {
    position: absolute;
}

th {
    white-space: nowrap !important;
}
#favouriteTable .table{
    width:95%;
}

