body, html, main{
  height: 100%;
}

body {
  margin: 0;
}

#main-header>.center {
  padding-left: 13%;
  padding-right: 13%;
  padding-bottom: 54px;
}

p {
  color: rgb(125, 125, 125);
  font-family: helvetica, arial, sans-serif;
}

.address {
  /* margin-top: 20px; */
  margin-top: 0;
  margin-bottom: -20px;
  padding-top: 15px;
}

.address p {
  font-family: "Microsoft Sans Serif", arial, sans-serif;
  font-size: small;
}

.banner {
  margin-top: 10px;
  /* margin-bottom: 50px; */
  font-family: Arial, sans-serif;
  color: rgb(188, 155, 93);
  position: relative;
  text-align: center;
  font-size: 60px;
  letter-spacing: 10px;
}

.nav-main {
  border: 2px;
  border-color: black;
}

.nav-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-top: 1px solid rgb(236, 236, 236);
  text-align: center;
}

.nav-main ul li {
  display: inline;
}

.nav-main ul li a {
  display: inline-block;
  color:  rgb(125, 125, 125);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 13px;
  margin-left: 70px;
  margin-right: 70px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Microsoft Sans Serif", arial, sans-serif;

}

#home {
  color: rgb(188, 155, 93);
}

.content {
  padding-left: 112px;
  padding-right: 112px;
  padding-top: 30px;
  /* position: absolute; */
}

.flexbox {
  column-count: 2;
  -moz-column-count: 2;
  column-gap: 0px;
  /* break-inside: avoid-column; */
  height: 1200px;
}

.image-wrap {
  padding: 20px;
  /* margin: 20px; */
}

.image-wrap img {
  width: 100%;
}

.text-wrap {
  page-break-inside: avoid;
  break-inside: avoid-column;
  padding: 20px;
}

#image1 {
  margin-top: 70px;
}

#text1 {
  padding: 10px;
  padding-left: 35px;
  margin-bottom: 50px;
  width: 360px;
  /* line-height: normal; */
}

#text2 {
  width: 360px;
  margin-top: 30px;
}

.text-heading {
  font-size: 30px;
  color: rgb(188, 155, 93);
  font-family: "Libre Baskerville", "Baskerville regular", serif;
  font-style: italic;
  letter-spacing: 1px;
  /* font-weight: bold; */
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 6Fnav
  00;
}

.text-paragraph {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

#text1 .text-heading {
  width: 320px;
  margin-bottom: 15px;
}

#text2 .text-paragraph {
  width: 320px;
}

.capital {
  /* font-family: helvetica; */
  letter-spacing: 2px;
  font-size: 11px;
  margin: 0px;
}

.trans {
  text-decoration: none;
  color: black;
  transition: all .5s;
}

.trans:hover {
  color: rgb(200, 200, 200);
}

.read-more  a {
  text-decoration: none;
  color: black;
  transition: all .5s;
}

.read-more  a:hover {
  color: rgb(200, 200, 200);
}

.order-wrap {
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
}

.order-wrap > img {
  margin: auto;
  display: block;
}

.white_block {
  top: 50%;
  left: 50%;
  height: 150px;
  width: 390px;
  margin-top: -75px;
  margin-left: -195px;
  background-color: white;
  position: absolute;
  text-align: center;
  display: flex;
}

.order-online {
  font-size: 34px;
  font-family: Baskerville, serif;
  color: rgb(100, 100, 100);
  margin-top: 5px;
  margin-bottom: 0px;
}

.white_block .text-wrap {
  margin: auto;
}

.fixed_bg {
  /* min-height: 100%; */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.bg1 {
  height: 650px;
  width: 1193px;
  background-position: -375px 50px;
  background-clip: content-box;
  background-size: 1940px 1180px;
  background-image: url("http://cs-server.usc.edu:45678/hw/hw3/images/image6.jpg");
}

.bg2 {
  background-image: url("http://cs-server.usc.edu:45678/hw/hw3/images/image5.jpg");
  opacity: 0.8;
  height: 480px;
  width: 1193px;
  background-position-y: calc(100% + 240px);
  background-size: 1193px;
  background-clip: content-box;
}

.url {
  text-align: center;
  margin: auto;
}

.slogan {
  text-align: center;
  width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-bottom: 60px;

}

footer {
  background-color: rgb(188, 155, 93);
  padding-top: 50px;
  padding-bottom: 140px;
}

.licence p{
  color: white;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.licence {
  margin-left: 770px;
  /* padding-top: 50px; */
  position: relative;
}
