<div class="modal-header">
  <h1 class="modal-title row border" id="modal-basic-title">
    {{ news.source.name }}
  </h1>
  <button type="button" class="close border" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="text-black-50 row border">
    {{ news.publishedAt | date: "longDate":"-0700" }}
  </div>
</div>
<div class="modal-body">
  <h2>{{ news.title }}</h2>
  <p>{{ news.description }}</p>
  <p class="text-black-50">
    For more details click
    <a class="text-primary" (click)="goToLink(news.url)">here</a>
  </p>
  <div class="card m-2 mx-auto">
    <div class="card-body">
      <div class="row mx-1">Share</div>
      <div class="row p-0 mx-1">
        <!-- twitter share button -->
        <a
          class="m-0 p-0 d-inline-flex twitter-share-button btn btn-social btn-twitter"
          href="https://twitter.com/intent/tweet?text={{ news.title }}&url={{
            news.url
          }}"
          target="_blank"
          data-size="large"
        >
          <i class="m-0 p-0 fa fa-2x fa-twitter"></i>
        </a>
        <!-- facebook share button -->
        <div
          class="m-0 mx-1 p-0 d-inline-flex btn fb-share-button"
          data-href="https://developers.facebook.com/docs/plugins/"
          data-layout="button"
          data-size="large"
        >
          <a
            target="_blank"
            href={{fbSrc}}
            class="fb-xfbml-parse-ignore"
            ><i class="m-0 p-0 fa fa-2x fab fa-facebook-square"></i></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
