h1.watchlist-header {
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
}

h1.item-ticker {
  font-size: 25px;
  font-weight: 500;
}

h1.last-price {
  font-size: 25px;
  font-weight: 500;
}

h3.item-name {
  font-size: 15px;
  font-weight: 400;
}

div.change {
  font-size: 15px;
  font-weight: 400;
}


path.pos {
  color: green;
}

path.neg {
  color: red;
}
