.pagination button {
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

#favorite-div {
    overflow: scroll;
    margin: auto;
    margin-top: 30px;
}

.details-btn {
    text-align: right;
    margin-bottom: 10px;
}

.category-icon {
    width: 40px;
    height: 40px;
}
.btn-outline {
    border: 1px solid;
    border-color: darkgray
}