* {
  /*margin: 0;*/
  padding: 0;
}

/*.container {*/
/*  background-color: blue;*/
/*}*/
/*form { font-size: calc(1em + 1vw); }*/


form { font-size: 0.8rem; }

@media (min-width: 576px) {
  form { font-size: 1.25rem; }
}

.btn.btn-secondary:hover {
  color: black;
}
