#meta-ticker, #latest-last-pos, #latest-last-neg {
  font-size: 40px;
}

#meta-name, #change-latest-pos, #change-latest-neg {
  font-size: 28px;
}


path.neg {
  color: red;
}

path.star-fill-icon {
  color: rgb(255, 195, 0);
}

path.pos {
  color: green;
}

.card-title {
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
}
