<div class="container">
  <div class="detail-header">
    Stock detail
  </div>

  <mat-tab-group mat-stretch-tabs>

    <!-- summary tab -->
    <mat-tab label="Summary">
      <div class="container" id="summary-content">
        Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license
      </div>
    </mat-tab>

    <!-- news tab -->
    <mat-tab label="Top News">
      <div class="container" id="news-content">

      </div>
    </mat-tab>

    <!-- charts tab -->
    <mat-tab label="Charts">
      <div class="container" id="charts-content">
        
      </div>
    </mat-tab>
  </mat-tab-group>
</div>