<mat-spinner *ngIf="!metadata" class="mt-5 mx-auto"></mat-spinner>

<!-- if ticker exists, show tab area -->
<div *ngIf="metadata && metadata.ticker" class="container mt-5">
  <div class="detail-header">
    <div class="row">
      <div class="col">
        <h1 class="m-0 p-0 d-flex flex-row" id="meta-ticker">
          {{ metadata.ticker }}
        </h1>
        <h3 class="m-0 p-0 text-black-50 d-flex flex-row" id="meta-name">
          {{ metadata.name }}
        </h3>
        <h4 class="m-0 p-0 font-weight-light d-flex flex-row">
          {{ metadata.exchangeCode }}
        </h4>
      </div>
      <div class="col">
        <h1
          *ngIf="change > 0"
          class="m-0 p-0 d-flex flex-row-reverse text-success"
          id="latest-last-pos"
        >
          {{ latestprice.last }}
        </h1>
        <h1
          *ngIf="change < 0"
          class="m-0 p-0 d-flex flex-row-reverse text-danger"
          id="latest-last-neg"
        >
          {{ latestprice.last }}
        </h1>
        <h2
          *ngIf="changePercent > 0"
          class="m-0 p-0 d-flex flex-row-reverse text-success"
          id="change-latest-pos"
        >
          {{ change | number: "1.2-2" }} ({{
            changePercent | number: "1.2-2"
          }}%)
        </h2>
        <h2
          *ngIf="changePercent < 0"
          class="m-0 p-0 d-flex flex-row-reverse text-success"
          id="change-latest-neg"
        >
          {{ change | number: "1.2-2" }} ({{
            changePercent | number: "1.2-2"
          }}%)
        </h2>
        <h4 class="m-0 p-0 font-weight-light d-flex flex-row-reverse">
          {{ localCurrentTime | date: "yyyy-MM-dd H:mm:ss":"-0700" }}
        </h4>
      </div>
    </div>
    <div class="row">
      <div
        *ngIf="latestprice.askSize"
        class="alert alert-success border-0 p-0 d-inline-flex mx-auto"
        role="alert"
      >
        Market is Open
      </div>
      <div
        *ngIf="!latestprice.askSize"
        class="alert alert-danger border-0 p-0 d-inline-flex mx-auto"
        role="alert"
      >
        Market Closed on
        {{ lasttimestamp | date: "yyyy-MM-dd H:mm:ss":"-0700" }}
      </div>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs>
    <!-- summary tab -->
    <mat-tab label="Summary">
      <div class="container" id="summary-content">
        <div class="row mt-4">
          <div class="col">
            <div class="row ml-5">
              <div class="col p-0">
                <p class="m-0">High Price:&#160; {{ latestprice.high }}</p>
                <p class="m-0">Low Price:&#160;&#160; {{ latestprice.low }}</p>
                <p class="m-0">Open Price: {{ latestprice.open }}</p>
                <p class="m-0">Prev. Close: {{ latestprice.prevClose }}</p>
                <p class="m-0">
                  Volume:&#160;&#160;&#160;&#160;&#160;&#160;
                  {{ latestprice.volume }}
                </p>
              </div>
              <div class="col p-0">
                <p *ngIf="latestprice.mid" class="m-0">
                  Mid Price: {{ latestprice.mid }}
                </p>
                <p *ngIf="!latestprice.mid && latestprice.askPrice" class="m-0">
                  Mid Price: -
                </p>
                <p *ngIf="latestprice.askPrice" class="m-0">
                  Ask Price: {{ latestprice.askPrice }}
                </p>
                <p *ngIf="latestprice.askSize" class="m-0">
                  Ask Size:&#160;&#160; {{ latestprice.askSize }}
                </p>
                <p *ngIf="latestprice.bidPrice" class="m-0">
                  Bid Price:&#160; {{ latestprice.bidPrice }}
                </p>
                <p *ngIf="latestprice.bidSize" class="m-0">
                  Bid Size:&#160;&#160;&#160; {{ latestprice.bidSize }}
                </p>
              </div>
            </div>
            <div class="container mt-5">
              <h2 class="row mt-1"><div class="mx-auto"> Company's Description</div></h2>
              <p class="row">Start Date: {{ metadata.startDate }}</p>
              <p class="row">{{ metadata.description }}</p>
            </div>
          </div>
          <div class="col">daily charts</div>
        </div>
      </div>
    </mat-tab>

    <!-- news tab -->
    <mat-tab label="Top News">
      <div class="container" id="news-content">
        <div *ngIf="allnews">got news</div>
        <div *ngIf="!allnews">None news</div>
      </div>
    </mat-tab>

    <!-- charts tab -->
    <mat-tab label="Charts">
      <div class="container" id="charts-content"></div>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- if ticker does not exist, show message -->
<div *ngIf="metadata && !metadata.ticker" class="container mt-5">
  <div class="alert alert-danger text-center text-dark" role="alert">
    No results found. Please enter valid Ticker
  </div>
</div>
