<mat-spinner
  *ngIf="
    (!metadata ||
      !latestprice ||
      !allnews ||
      !dailycharts ||
      !dailyChartsFinish ||
      !histChartsFinish) &&
    tickerExist
  "
  class="mt-5 mx-auto"
></mat-spinner>

<!-- if ticker exists, show tab area -->
<div
  *ngIf="
    metadata &&
    metadata.ticker &&
    latestprice &&
    allnews &&
    dailyChartsFinish &&
    histChartsFinish
  "
  class="container mt-5"
>
  <div class="detail-header">
    <div class="row">
      <div class="col">
        <h1 class="m-0 p-0 d-flex flex-row" id="meta-ticker">
          {{ metadata.ticker }}
          <div class="m-0 p-0 d-inline-flex" (click)="clickStar()">
            <svg
              *ngIf="inWatchlist"
              width="0.5em"
              height="0.5em"
              viewBox="0 0 16 16"
              class="bi bi-star-fill mx-1 my-0"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="star-fill-icon"
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>
            <svg
              *ngIf="!inWatchlist"
              width="0.5em"
              height="0.5em"
              viewBox="0 0 16 16"
              class="bi bi-star mx-1 my-0"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="star-icon"
                fill-rule="evenodd"
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
              />
            </svg>
          </div>
        </h1>
        <h3 class="m-0 p-0 text-black-50 d-flex flex-row" id="meta-name">
          {{ metadata.name }}
        </h3>
        <h4 class="m-0 p-0 font-weight-light d-flex flex-row">
          {{ metadata.exchangeCode }}
        </h4>
      </div>
      <div class="col">
        <h1
          *ngIf="change > 0"
          class="m-0 p-0 d-flex flex-row-reverse text-success"
          id="latest-last-pos"
        >
          {{ latestprice.last }}
        </h1>
        <h1
          *ngIf="change < 0"
          class="m-0 p-0 d-flex flex-row-reverse text-danger"
          id="latest-last-neg"
        >
          {{ latestprice.last }}
        </h1>
        <!-- if change positive, green latest price -->
        <div
          *ngIf="changePercent > 0"
          class="row mr-1 flex-row justify-content-end"
        >
          <div class="row m-0 p-0">
            <svg
              width="2em"
              height="2em"
              viewBox="0 0 16 16"
              class="bi bi-caret-up-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="pos"
                d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
              />
            </svg>
            <h2
              class="m-0 p-0 d-flex flex-row-reverse text-success"
              id="change-latest-pos"
            >
              {{ change | number: "1.2-2" }}
            </h2>
          </div>
          <div class="col-sm m-0 p-0 col-md-auto">
            <h2
              class="m-0 p-0 d-flex flex-row-reverse text-success"
              id="change-latest-pos"
            >
              ({{ changePercent | number: "1.2-2" }}%)
            </h2>
          </div>
        </div>

        <!-- if change negative, red latest price -->
        <div
          *ngIf="changePercent < 0"
          class="row mr-1 flex-row justify-content-end"
        >
          <div class="row m-0 p-0">
            <svg
              width="2em"
              height="2em"
              viewBox="0 0 16 16"
              class="bi bi-caret-down-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
            <path class="neg" d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
            <h2
              class="m-0 p-0 d-flex flex-row-reverse text-danger"
              id="change-latest-neg"
            >
              {{ change | number: "1.2-2" }}
            </h2>
          </div>
          <div class="col-sm m-0 p-0 col-md-auto">
            <h2
              class="m-0 p-0 d-flex flex-row-reverse text-danger"
              id="change-latest-neg"
            >
              ({{ changePercent | number: "1.2-2" }}%)
            </h2>
          </div>
        </div>

        <h4 class="m-0 p-0 font-weight-light d-flex flex-row-reverse">
          {{ localCurrentTime | date: "yyyy-MM-dd H:mm:ss":"-0700" }}
        </h4>
      </div>
    </div>
    <div class="row">
      <div
        *ngIf="openstatus"
        class="alert alert-success border-0 p-0 d-inline-flex mx-auto"
        role="alert"
      >
        Market is Open
      </div>
      <div
        *ngIf="!openstatus"
        class="alert alert-danger border-0 p-0 d-inline-flex mx-auto"
        role="alert"
      >
        Market Closed on
        {{ lasttimestamp | date: "yyyy-MM-dd H:mm:ss":"-0700" }}
      </div>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs>
    <!-- summary tab -->
    <mat-tab label="Summary">
      <div class="container" id="summary-content">
        <div class="row flex-row mt-4">
          <div class="col-sm">
            <div class="row ml-1">
              <div class="col p-0">
                <p class="m-0">High Price:&#160; {{ latestprice.high }}</p>
                <p class="m-0">Low Price:&#160;&#160; {{ latestprice.low }}</p>
                <p class="m-0">Open Price: {{ latestprice.open }}</p>
                <p class="m-0">Prev. Close: {{ latestprice.prevClose }}</p>
                <p class="m-0">
                  Volume:&#160;&#160;&#160;&#160;&#160;&#160;
                  {{ latestprice.volume }}
                </p>
              </div>
              <div class="col p-0">
                <p *ngIf="latestprice.mid" class="m-0">
                  Mid Price: {{ latestprice.mid }}
                </p>
                <p *ngIf="openstatus && !latestprice.mid" class="m-0">
                  Mid Price: -
                </p>
                <p *ngIf="openstatus" class="m-0">
                  Ask Price: {{ latestprice.askPrice }}
                </p>
                <p *ngIf="openstatus" class="m-0">
                  Ask Size:&#160;&#160; {{ latestprice.askSize }}
                </p>
                <p *ngIf="openstatus" class="m-0">
                  Bid Price:&#160; {{ latestprice.bidPrice }}
                </p>
                <p *ngIf="openstatus" class="m-0">
                  Bid Size:&#160;&#160;&#160; {{ latestprice.bidSize }}
                </p>
              </div>
            </div>

            <!-- company description row -->
            <div class="row mt-5">
              <h2 class="row mt-1 mx-auto">Company's Description</h2>
            </div>
            <p class="row">Start Date: {{ metadata.startDate }}</p>
            <p class="row">{{ metadata.description }}</p>
          </div>

          <!-- daily charts area -->
          <div class="col-sm">
            <highcharts-chart
              *ngIf="isHighcharts"
              [Highcharts]="Highcharts"
              [constructorType]="'stockChart'"
              [options]="dailyChartOptions"
              style="width: 100%; height: 400px; display: block"
            >
            </highcharts-chart>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- news tab -->
    <mat-tab label="Top News">
      <div class="container" id="news-content">
        <div class="row p-1" *ngIf="allnews">
          <div
            class="card col-sm-5 m-2 bg-light mx-auto p-0"
            style="min-width: 48%; max-height: 280px"
            *ngFor="let news of allnews"
          >
            <div class="card-body row" (click)="openNewsDetail(news)">
              <div class="col-md-2 m-0 p-0 my-auto">
                <img
                  class="card-img m-0 my-auto"
                  src="{{ news.urlToImage }}"
                  alt="News card image cap"
                />
              </div>
              <div class="col">
                <h3 class="card-title text-black-50">{{ news.title }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- charts tab -->
    <mat-tab label="Charts">
      <div class="container" id="charts-content">
        <highcharts-chart
          class="col-sm"
          *ngIf="isHighcharts"
          [Highcharts]="Highcharts"
          [constructorType]="'stockChart'"
          [options]="histChartOptions"
          style="width: 100%; height: 700px; display: block"
        >
        </highcharts-chart>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- if ticker does not exist, show message -->
<div *ngIf="metadata && !tickerExist" class="container mt-5">
  <div class="alert alert-danger text-center text-dark" role="alert">
    No results found. Please enter valid Ticker
  </div>
</div>
