#place-name {
  text-align: center;
  margin: 10px;
}

#tweet {
  width: 38px;
  height: 38px;
}

.tweet {
  padding: 0;
}

#details-button {
  position: relative;
  margin-bottom: 70px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.favorited {
  color: orange;
}

.btn-outline {
  border: 1px solid;
  border-color: darkgray;
}

@media (max-width: 600px) {
  .nav-tabs {
    display: -webkit-inline-box;
    display: -moz-box;
  }
}
