/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 50px;
  box-sizing: border-box;
}
