table {
    border-collapse:collapse;
}

tr {
    border:1px solid black;
    height: 27px;
    /*text-align: center;*/
}

td {
    width: 500px;
    text-align: center;
}

select {
    text-align: center;
    text-align-last: center;
}

.headerBar {
    position:relative;
    margin: 0 auto;
    top:10px;
    /*background-color: blue;*/
    text-align: center;
}

.logo {
    width:120px;
    height:auto;
}


.headerName {
    position: relative;
    top:-15px;
    margin: 0 auto;

}

.dataTable {
    margin: 20px;
    position: relative;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #e7e7e7;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:3px;
}

.button1 {
    background-color: #e7e7e7;
    color: black;
    /*border: 2px solid #4CAF50;*/
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}



#buttonLine {
    height: 34px;
}

.crossButton {
    background:transparent;
    border-width:0px;
    float: right;
    position: relative;
    right: 2px;
    top:2px;
}
a:hover img{
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}


.resultDescription {
    margin: 30px;
    text-align: center;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 750px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px auto;
    position: relative;
    display:table;
    background-color: #F5F5F5;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}


.imageDiv {
    /*display: inline-block;*/
    float: left;
    /*background-color: blue;*/
    width: 150px;
    height: 164px;
}

.itemImage {
    position: absolute;
    border: 2px solid gray;
    max-height:80px;
    max-width: 100px;
    width: 130px;
    top:30%;
    left:20px;
    cursor: pointer;
    transition: all 0.6s;
}

.itemImage:hover {
    transform: scale(1.5);
}

.itemDiv {

    width: 420px;
    height: 153px;
    padding: 10px;
    float: left;

}
.itemInfo {
    margin: 20px;
    float: top;
}

.itemTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.itemTitleExpand {
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}

.extraItemInfo {
    margin: 20px;
    position: relative;
    left:130px;
}
