#star-rating {
  color: #e7711b;
  display: inline-block;
}
.star-ratings-css {
  unicode-bidi: bidi-override;
  position: relative;
  padding: 0;
  width: 5em;
  display: inline-block;
  font-size: 1em;
  padding-bottom: 1.1rem;
  font-family: Arial !important;
}

.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
