h1 {
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
}

#header-text {
    margin-top: 100px;
    margin-bottom: 50px;
}

#group-outer {
    border: 2px solid rgb(104, 88, 242);
    height: 100%;
}


input[type="text"] {
    outline: none;
    box-shadow: none;
    font-size: 13px;
    height: 20px;
}

form {
    width: 180px;
    height: 30px;
}

div button {
    outline: none;
    box-shadow: none;
}

/* search icon color */
path {
    fill: rgb(104, 88, 242);
}