#form-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#search-form-div {
    margin-top: 20px;
}

#search-btn-group {
    padding: 10px;
}

.required {
    color: red;
}