<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vt.stockviewer">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- &lt;!&ndash; Internet is required to make calls to the Aeris API &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->


    <!-- Aeris Library uses the network state to determine if network is availabe to make calls -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Google maps requries this now with tiles -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- (Optional If you want location services to be used as well) -->
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".stockActivity"
            android:parentActivityName=".MainActivity" />
        <!--<activity
            android:name=""
             />
        <activity
            android:name=".stockActivity"
            />
        <activity
            android:name=".stockActivity"
            />&ndash;&gt;-->
       <!-- <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="1533542040282423" />
-->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>


    </application>

</manifest>