<nav class="navbar navbar-expand-md navbar-dark">
  <div class="navbar-brand">Stock Search</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link mx-2" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" routerLink="watchlist" routerLinkActive="active">Watchlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" routerLink="portfolio" routerLinkActive="active">Portfolio</a>
      </li>    
    </ul>
  </div>  
</nav>