/* div {
    background: rgb(104, 88, 242);
}


 h3 {
    color: white;
    font-size: large;
}

.nav-link {
    color: rgb(152, 153, 246);
}

.nav-link.active {
    border-color: white;
    border: 2px solid white;
}

.nav-link:hover {
    color: rgb(189, 178, 249);
} */

nav {
    background: rgb(104, 88, 242);
}

.nav-item.active {
    border-color: white;
    border: 2px solid white;
    border-radius: 20%;
}

.nav-item {
    text-align: right;
} 
