div {
    background: rgb(104, 88, 242);
}

div h3 {
    color: white;
    font-size: large;
}

.nav-link {
    color: rgb(152, 153, 246);
}

.nav-link.active {
    border-color: white;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

.nav-link:hover {
    color: rgb(189, 178, 249);
}