body {
    padding: 0;
    border: 0;
    margin: 0;
    width: 1409px;
    background: rgb(95, 98, 164);
}

div.search_area {
    background: rgb(235, 235, 235);
    display: inline-block;
    display: -moz-inline-block;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
    margin-left: 18%;
    margin-top: 30px;
    height: 260px;
    width: 950px;
    border-radius: 3px;
}


div.search_header {
    color: black;
    font-size: 37px;
    font-weight: bolder;
    font-family: "Microsoft Sans Serif", arial, sans-serif;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 5px;
    border: 0;
    background: transparent;
    text-align: -moz-center;
    text-align: -webkit-center;
    text-align: center;
}

div.line {
    background: transparent;
    padding: 0;
    border: 0;
    border-bottom: 1.5px solid rgb(235, 235, 235);
    margin: 0;
    margin-left: 18%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0;
    width: 950px;
}


form.search_form {
    padding: 10px;
    border: 0;
    margin: 0;
}

form.search_form label {
    background: transparent;
    padding: 0;
    border: 0;
    margin: 0;
    margin-bottom: 25px;
    color: black;
    font-size: 20px;
    font-weight: 50;
    font-family: 'Roboto', sans-serif;
}

form.search_form label span {
    color: red;

    /*display: -moz-inline-block;*/
    /*display: inline-block;*/
}

input.search_text[type=text] {
    padding: 0;
    padding-right: 5px;
    padding-left: 5px;
    border: 0;
    margin: 0;
    height: 25px;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 20px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    box-shadow: none;
}

input.search_text[type=text]:focus {
    border: 2px solid black;
    box-shadow: none;
}

input[type=submit], input[type=reset] {
    padding: 0;
    border: none;
    margin: 20px;
    height: 35px;
    width: 100px;
    background: white;
    color: black;
    border-radius: 5px;

    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;

    font-size: 15px;
    cursor: default;
}

input[type=submit]:focus, input[type=reset]:focus {
    outline: none; /* important!! */
    border: 2px solid black;
    box-shadow: none;
}


input[type=submit]:hover, input[type=reset]:hover {
    background: rgb(199, 199, 199);
}

#search_result {
    border: 0;
    margin: 0;
    margin-left: 18%;
    background: transparent;
    width: 950px;
    display: none; /*initial hidden*/
}

#error_search_result {
    border: 0;
    margin: 0;
    margin-left: 18%;
    background: transparent;
    width: 950px;

    display: none; /*initial hidden*/
}

div.error_msg {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    border: 0;
    margin: 0;
    margin-top: 30px;
    padding: 0;

    background: transparent;
    color: black;

    font-family: "Microsoft Sans Serif", arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

div.tab {
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
    background: rgb(235, 235, 235);
    height: 40px;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    vertical-align: middle;
    align-items: center;
}

button.tablinks {
    background: rgb(235, 235, 235);
    float: left;
    height: 100%;
    border: none;
    outline: none;
    padding: 0;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;

    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;

    display: inline-block;
    display: -moz-inline-block;

    transition: 0.4s;
}

button.tablinks:hover {
    background: #ddd;
}

button.active {
    background: #ccc;
}


div.tabcontent {
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    display: none; /*initially hide*/
}


img.table-img {
    border: 0;
    margin: 0;
    margin-top: 3px;
    margin-left: 10px;
    padding: 0;
    background: white;
    height: 15px;
}

table {
    width: 100%;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden; /* hide the outside border of table*/
}


table th {
    padding: 0;
    padding-left: 5px;
    margin: 0;
    border: 1.5px solid rgb(204, 204, 204);

    background: rgb(224, 224, 224);

    text-align: left;
    text-align: -moz-left;
    text-align: -webkit-left;
    font-family: "Microsoft Sans Serif", arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;

    width: 33%;
    height: 100%;
}

table td {
    padding: 0;
    margin: 0;
    border: 1.5px solid rgb(204, 204, 204);

    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    /*word-wrap: break-word;*/
    /*text-wrap: normal;*/

    height: 100%;

    background: white;
}

table tr {
    padding: 0;
    margin: 0;
    border: 0;
    height: 25px;
    line-height: 25px;
    border-image-width: 0;

    background: transparent;
}


table tr td p {
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
    width: 630px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.news-box {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    background: rgb(235, 235, 235);

    height: 100px;
    width: 100%;
    /*align-items: center; !* For vertical align *!*/
    display: flex;

}

/*crop and resize the image from the center of image, given fixed height & width*/
div.center-crop-img {
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    padding: 0;
    border: 0;

    vertical-align: middle;

    float: left;
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
}

img.news-img {
    margin: 0;
    padding: 0;
    border: 0;

    height: 100%;
    width: auto;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    left: 50%;
    top: 50%;
}

div.news-text {
    padding: 0;
    padding-bottom: 1px;
    margin: 0;
    margin-top: 10px;
    border: 0;

    vertical-align: top;
    float: left;
    height: 60px;
}

div.news-text p {
    padding: 0;
    border: 0;
    margin: 0;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

div.news-text p b {
    padding: 0;
    border: 0;
    margin: 0;

    font-size: 16px;
    font-family: "Microsoft Sans Serif", arial, sans-serif;
    font-weight: bolder;
}

div.news-text p span {
    border: 0;
    padding: 0;
    margin: 0;
    margin-left: 8px;
}

#charts-area {
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    width: 100%;
}