body {
    padding: 0;
    border: 0;
    margin: 0;
    width: 1409px;
    background: rgb(95, 98, 164);
}

div.search_area {
    background: rgb(235, 235, 235);
    display: inline-block;
    display: -moz-inline-block;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
    margin-left: 18%;
    margin-top: 30px;
    height: 260px;
    width: 950px;
    border-radius: 3px;
}


div.search_header {
    color: black;
    font-size: 37px;
    font-weight: bolder;
    font-family: "Microsoft Sans Serif", arial, sans-serif;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 5px;
    border: 0;
    background: transparent;
    text-align: -moz-center;
    text-align: -webkit-center;
    text-align: center;
}

div.line {
    background: transparent;
    padding: 0;
    border: 0;
    border-bottom: 1.5px solid rgb(235, 235, 235);
    margin: 0;
    margin-left: 18%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0;
    width: 950px;
}


form.search_form {
    padding: 10px;
    border: 0;
    margin: 0;
}

form.search_form label {
    background: transparent;
    padding: 0;
    border: 0;
    margin: 0;
    margin-bottom: 25px;
    color: black;
    font-size: 20px;
    font-weight: 50;
    font-family: 'Roboto', sans-serif;
}

form.search_form label span {
    color: red;

    /*display: -moz-inline-block;*/
    /*display: inline-block;*/
}

input.search_text[type=text] {
    padding: 0;
    padding-right: 5px;
    padding-left: 5px;
    border: 0;
    margin: 0;
    height: 25px;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 20px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    box-shadow: none;
}

input.search_text[type=text]:focus {
    border: 2px solid black;
    box-shadow: none;
}

input[type=submit], input[type=reset] {
    padding: 0;
    border: none;
    margin: 20px;
    height: 35px;
    width: 100px;
    background: white;
    color: black;
    border-radius: 5px;

    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;

    font-size: 15px;
    cursor: default;
}

input[type=submit]:focus, input[type=reset]:focus {
    outline: none; /* important!! */
    border: 2px solid black;
}

input[type=submit]:hover, input[type=reset]:hover {
    background: rgb(199, 199, 199);
}

div.search_result {
    border: 0;
    margin: 0;
    margin-left: 18%;
    background: transparent;
    width: 950px;
}

div.tab {
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
    background: rgb(235, 235, 235);
    height: 40px;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    vertical-align: middle;
    align-items: center;
}

div.tab button {
    background: inherit;
    float: left;
    height: 100%;
    border: none;
    outline: none;
    padding: 0;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;

    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;

    display: inline-block;
    display: -moz-inline-block;

    transition: 0.3s;
}

div.tab button:hover {
    background: rgb(224, 224, 224);
}

div.tab button:active {
    background: rgb(204, 204, 204);
}

div.tabcontent {
    background: white;
    padding: 0;
    border: none;
    margin: 0;
}

img.table-img {
    border: 0;
    margin: 0;
    margin-top: 3px;
    margin-left: 10px;
    padding: 0;
    background: transparent;
    height: 15px;
}

table.summary-table {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden; /* hide the outside border of table*/
}

th {
    padding: 0;
    padding-left: 5px;
    margin: 0;
    border: 1.5px solid rgb(204, 204, 204);

    background: rgb(224, 224, 224);

    text-align: left;
    text-align: -moz-left;
    text-align: -webkit-left;
    font-family: "Microsoft Sans Serif", arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;

    width: 33%;
    height: 100%;
}

td {
    padding: 0;
    margin: 0;
    border: 1.5px solid rgb(204, 204, 204);

    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 16px;

    height: 100%;
}

tr {
    padding: 0;
    margin: 0;
    border: 0;
    height: 25px;
    line-height: 25px;
    border-image-width: 0;
}
