<div class="container my-5 p-0">
  <h1 class="portfolio-header mx-2">My Portfolio</h1>
</div>
<div class="container my-0 p-0">
  <!-- spinner area -->
  <mat-spinner
    *ngIf="!fetchFinish && !isEmpty"
    class="mt-4 mx-auto"
  ></mat-spinner>

  <!-- empty portfolio alert area -->
  <ngb-alert
    [dismissible]="false"
    *ngIf="isEmpty"
    class="text-center text-dark mx-3"
    >Currently you don't have any stock.
  </ngb-alert>

  <!-- purchased stock cards area -->
  <div *ngIf="fetchFinish && !isEmpty">
    <div *ngFor="let tickerItem of tickerInfoArr" class="card p-0 my-3 mx-2">
      <div class="card-header py-0 px-3">
        <div class="row p-2 d-flex align-items-end">
          <h1 class="m-0 p-0">{{ tickerItem.ticker }}</h1>
          <h3 class="my-0 mx-2 p-0 text-secondary">{{ tickerItem.name }}</h3>
        </div>
      </div>
      <div class="card-body p-0 border border-danger">
        <div class="card-text row m-0 px-0">
          <!-- first column -->
          <div class="col-sm p-0 m-0 mx-2 border border-warning">
            <div class="row m-0 p-0 border">
              <div class="col m-0 p-0 border">Quantity:</div>
              <div class="col m-0 p-0 text-right border">
                {{ tickerItem.quantity }}
              </div>
            </div>
            <div class="row m-0 p-0 border">
              <div class="col m-0 p-0 border">Avg. Cost / Share:</div>
              <div class="col m-0 p-0 text-right border">
                {{ tickerItem.avgCost | number: "1.0-2" }}
              </div>
            </div>
            <div class="row m-0 p-0 border">
              <div class="col m-0 p-0 border">Total Cost:</div>
              <div class="col m-0 p-0 text-right border">
                {{ tickerItem.totalCost | number: "1.0-2" }}
              </div>
            </div>
          </div>
          <!-- second column -->
          <div class="col-sm p-0 m-0 mx-2">
            <div class="row m-0 p-0 border">
              <div class="col m-0 p-0 border">Change:</div>
              <div
                class="col m-0 p-0 text-right font-weight-bold border"
                [class.text-danger]="tickerItem.change < 0"
                [class.text-success]="tickerItem.change > 0"
              >
                {{ tickerItem.change | number: "1.0-2" }}
              </div>
            </div>
            <div class="row m-0 p-0 border">
              <div class="col m-0 p-0 border">Current Price:</div>
              <div
                class="col m-0 p-0 text-right font-weight-bold border"
                [class.text-danger]="tickerItem.change < 0"
                [class.text-success]="tickerItem.change > 0"
              >
                {{ tickerItem.currentPrice | number: "1.0-2" }}
              </div>
            </div>
            <div class="row m-0 p-0 border">
              <div class="col m-0 p-0 border">Market Value:</div>
              <div
                class="col m-0 p-0 text-right font-weight-bold border"
                [class.text-danger]="tickerItem.change < 0"
                [class.text-success]="tickerItem.change > 0"
              >
                {{ tickerItem.marketValue | number: "1.0-2" }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer py-1 d-flex justify-content-end">
        <button class="btn btn-primary mx-1 border-0">Buy</button>
        <button class="btn btn-primary mx-1 bg-danger border-0">Sell</button>
      </div>
    </div>
  </div>
</div>
