html { 
 
   background-image: url(http://www-scf.usc.edu/~vtiwari/Images/background.png);
   background-repeat: repeat-x;
	background-color:#FCFBEE;
	
	
	
}
body {
	
	width:930px;
	height:650px;
	margin:auto;
	padding: auto;
	
}
	

.image {
	  margin:auto;
	  width:900px;
	 height:354px;
	 z-index: -1;
	
	
}
	
.menuimage {
	display: table;
	 margin-left:-4px;
	 width:940px;
	 height:365px;
	padding:auto;
	
	
	
	
	
	 
}
.topmenudiv {
	
	margin:auto;
	padding-left: 15px;
	display: inline;
	
	

}
h3{
	margin-left: 8px;

}
h4{
	margin-left: 8px;
	margin-bottom: 0;
	margin-top: 0;
	font-size:1.04em;
}
p{
	margin-left: 8px;
	margin-top: 0;
	font-size:0.9em;
}
.topmenudiv li {
	list-style: none;
	display:inline-block;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	padding-right: 55px;
	padding-top:5px;
	
	padding-left: 50px;	
    float:left;
	text-decoration: none;
	color:black;
	
	
}
.topmenudiv ul {
	position:relative;
	float:left;
	margin-top: -60px;
	padding:0;
	
	
}
.paraText{
	background-color: white;
	 
	margin-left: 20px;
	padding:auto;
	font-family: "Times New Roman", Times, serif;
     height:auto;
		margin-left: 15px;
	width:900px;
	margin-top: -325px;
	
	
	
}
.specialContent {
	color:#E9CC00;
	font-weight: bold;
}
a:link {
    color: black;
	text-decoration: none;
	outline: 0;
	
}

a:visited {
	 color: black;
	text-decoration: none;
	
}


/* mouse over link */
a:hover {
    color:#E9CC00;
}

.endpara {
	text-align: center;
}
.author {
	color:#E9CC00;
	font-weight: bold;
}
.flower_1 {
	color:#AC9800;
	font-size: 2.0em;
	z-index:2;
	position: relative;
	float: left;
	margin-top:-145px;
	margin-left: 577px;
	font-weight: bold;
}
.flower {
	position: relative;
	
	color:#F3D861;
	font-size: 2.0em;
	z-index: 2;
	float:left;
	margin-top:-145px;
	margin-left: 658px;
	font-weight: bold;
}
.brian {
	position: relative;
	flow:left;
	color:#776A00;
	font-size: 1.25em;
	z-index: 3;
	float:left;
	margin-top:-130px;
	margin-left: 585px;
	font-weight: bold;
	
}
br {
   display: block;
   margin: 10px 0;
}
